html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	margin: 0;
	padding: 0;
	font-family: 'open sans';
}

body {
	margin: 0;
	padding: 0;
}

h2 {
	padding: 14px 14px 7px;
	margin: 0;
	font-weight: normal;
	font-size: 1.2em;
}

p {
	margin: 0;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

textarea {
	resize: vertical;
}

.hidden {
	display: none !important;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

header {
	-webkit-app-region: drag;
	background: #111;
	color: #fff;

	h1 {
		font-size: 1em;
		margin: 0;
		padding: 0.3em 1em;
		font-weight: 300;
		text-align: center;
	}
}

.button {
	border: 1px solid #688DDB;
  border-radius: 10px;
  padding: .3em 0.6em;
  font-family: 'open sans';
  font-size: .9em;
  background: #F7F7F7;
}

.content {
	padding: 0em 42px;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

label {
	display: block;
	padding: .6em 0 .3em;
}

input[type="text"] {
	font-family: 'open sans';
	width: 100%;
	font-size: .8em;
	padding: .4em 1em;
	background: rgb(232, 242, 252);
	border-width: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	margin: .3em 0;
}

.destroy {
	text-align: right;
	margin: 0.5em 0 1em;
}

.bot-state .button {
	float: right;
}

.deleted {
	font-size: .9em;
	color: #aaa;
	font-weight: 300;
	padding: 0.3em 0;
}
.tip {
	font-size: .9em;
}